################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Code/WebApiEmployee/WebApiEmployee/bin/Debug/net8.0
/Code/WebApiEmployee/WebApiEmployee/appsettings.json
